<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ、タスク一覧へ</h1>
    <h2>welcom to the tasklist!</h2>
    <p>ログイン完了ユーザ: <%= current_user.name %></p>
  </div>
</div>
<ul>
  <%= render 'tasks/tasks', tasks: @tasks %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
