<!--flash_messagesはアクション実行後に簡単なメッセージを表示させるrailsの機能-->
<!--flash_tasksではない-->
<% flash.each do |message_type, message| %>
  <!--message_type内には:successが代入される-->
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>